.db3* filter=lfs diff=lfs merge=lfs -text
.stl* filter=lfs diff=lfs merge=lfs -text
sample_rosbag/sample_rosbag.db3 filter=lfs diff=lfs merge=lfs -text
mount_stls/lidar_camera_mount.stl filter=lfs diff=lfs merge=lfs -text
